<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.com">
<head th:insert ="layout/layout :: styles"></head>
<body>
<header th:replace="layout/menu :: navBar"></header>
<div class="container">
	<div class="card bg-light">
		<div th:text = "${titulo}" class="card-header"></div>
		<div class="card-body">
		<form th:action="@{/facturacion/saveUsuarios}" th:object="${cliente}" method="post">
			<table class="table table-striped">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Mail</th>
					<th>Fecha</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td ><input type="text" th:field="*{nombre}" /></td>
					<td ><input type="text" th:field="*{apellido}" /></td>
					<td ><input type="text" th:field="*{mail}" /></td>
					<td ><input type="date" th:field="*{created}" /></td>
				</tr>
			</tbody>
			</table>
			<input type="hidden" th:field="*{id}"/>
			<input type="submit" th:if="${cliente.id <= 0}" value="Crear Cliente" class="btn btn-primary"/>
			<input type="submit" th:if="${cliente.id > 0}" value="Editar Cliente" class="btn btn-primary"/>
		</form>
		</div>
	</div>
</div>
</body>
</html>